<%= form_with(model: tweeet, class: "border-0 border-b pb-2") do |form| %>
  <% if tweeet.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(tweeet.errors.count, "error") %> prohibited this tweeet from being saved:</h2>

      <ul>
        <% tweeet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_area :body, rows: 4, maxlength: 140, placeholder: "What is happening?", class: "text-xl bg-gray-50 block border-0 outline-none border-gray-300 px-6 py-2 w-full resize-none" %>
  </div>

  <div class="inline">
    <%= form.submit 'Tweeet it', class: "text-lg mt-4 rounded-lg py-3 px-6 text-blue-500 font-bold inline-block cursor-pointer" %>
  </div>
<% end %>
