<div id="<%= dom_id tweeet %>" class='px-8'>
  <p>
    <div class='flex gap-2'>
      <strong class="block font-medium"><%= current_user.name %></strong>
      <span>@<%= current_user.username %></span>
    </div>
    <%= tweeet.body %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this tweeet", tweeet %>
    <%= link_to 'Edit this tweeet', edit_tweeet_path(tweeet)%>
  <% end %>
</div>
