<div class="w-full">
  <%= render partial: 'shared/header' %>
  <section>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <% if user_signed_in? %>
      <article class="ml-8 mt-4">
        <strong>Logged in as: <%= current_user.name %></strong>
        <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete } %>
      </article>
    <% end %>

    <div id="tweeets" class='mt-7'>
      <% @tweeets.each do |tweeet| %>
      <%= render tweeet %>
      <div style='height: 1px;' class='bg-gray-300 my-4'></div>
      <% end %>
    </div>
  </section>
</div>
